.bar {
align-self: center;
}
.nav li {
	display:inline;
	position: center;
	text-decoration: none;
	}
.nav a{
	text-decoration: none;
	color: white;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	margin-left: 90px;
	margin-right: 90px;
	}
.img {
margin:}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 20px;
  background: #54c3c7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  text-decoration: none;
  }
  #header {
  color:#222222; 
  font-family: arial, sans-serif; 
  font-size: 13px; 
  }
 div > p {
 font-family: arial, sans-serif; 
 font-size: 16px;
  }
  div > h1 {
  text-align: center;
  }
